<div class="employee-data">
  <div class="employee-data__info">
<!--    <app-user-database [avatarPath]="avatarPath" [employeeCv]="employeeCV" [employeeData]="employee" [addResume]="addResume"-->
<!--                   (employeeCVDownload)="downloadEmployeeCV($event)" (employeeCVUpdate)="updateEmployeeCV($event)"-->
<!--                   (employeeCVUpload)="uploadEmployeeCV($event)">-->
<!--    </app-user-database>-->
  </div>
  <div class="employee-data__tabs">
    <app-page-tabs></app-page-tabs>
  </div>
</div>
