<div class="main">
  <form [formGroup]="paramsForm" class="main_general">
    <div class="c-base__form-field">
      <label class="c-base__form-field-label">Слово для генерации</label>
      <input type="text" formControlName="baseWord" pInputText placeholder="Введите слово">
    </div>
    <div class="c-base__form-field">
      <label class="c-base__form-field-label">Метод расчета</label>
      <p-dropdown [options]="generationVariant" formControlName="generationVariant"
                  class="c-prime__dropdown" panelStyleClass="c-prime__dropdown--panel" placeholder="Choose Interval" appendTo="body"
                  optionLabel="title" optionValue="value" optionDisabled="inactive"></p-dropdown>
    </div>
    <div class="c-base__form-field main_general--additional">
      <div class="main_general--additional-block">
        <p-toggleButton onLabel="Удвоенно" offLabel="Без удвоения" formControlName="double"
                        onIcon="pi pi-check" offIcon="pi pi-times" (onChange)="setDouble()"></p-toggleButton>
      </div>
      <div class="main_general--additional-block">
        <p-toggleButton onLabel="Сокращенно" offLabel="Без сокращения" formControlName="split"
                        onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
      </div>
      <div class="main_general--additional-block">
        <p-toggleButton onLabel="Альбом" offLabel="Портрет" formControlName="landscape"
                        onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
      </div>
    </div>
    <div class="c-base__form-field">
      <label class="c-base__form-field-label">Размер бумаги</label>
      <p-dropdown [options]="paperVariant" formControlName="paperVariant"
                  class="c-prime__dropdown" panelStyleClass="c-prime__dropdown--panel" placeholder="Choose Interval" appendTo="body"
                  optionLabel="title" optionValue="value"></p-dropdown>
    </div>
    <div class="c-base__form-field">
      <label class="c-base__form-field-label">Размер грани в мм.: {{marginSize}}</label>
      <p-slider formControlName="marginSize" [min]="3" [max]="10"></p-slider>
    </div>
    <div class="c-base__form-field">
      <label class="c-base__form-field-label">Размер цифр в пт.: {{fontSize}}</label>
      <p-slider formControlName="fontSize" [min]="8" [max]="24" [step]="2"></p-slider>
    </div>
    <div class="c-base__form-field">
      <label class="c-base__form-field-label" style="color: {{numberColor}}">Цвет цифр </label>
      <input formControlName="numberColor" type="color" pInputText>
    </div>
  </form>
</div>

<div class="popup__buttons">
  <button pButton class="c-prime__button c-prime__button--grey-text" (click)="closeModalWindow()">Отмена</button>
  <button pButton class="c-prime__button c-prime__button--danger" (click)="processForm()">Сохранить</button>
</div>
