.main{
  min-width: 600px;
  .p-inputgroup{
    .c-prime__button {
      padding: 0 !important;
    }
    .p-button {
      height: 34px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: unset;
    }
  }
  .actions{
    display: flex;
    flex-direction: row;
  }
}

.c-fieldset{
  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: .25rem;
  }
  .p-fieldset .p-fieldset-content {
    padding: 0 1rem;
  }
}


