@import './src/assets/styles/mixins.scss';
@import './src/assets/styles/variables.scss';

.employee-data-wrapper {
  .employee-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

    &__title{
      display: flex;
      flex-flow: row;
      align-items: center;
      &__back-arrow {
        cursor: pointer;
        @include base-icon-wrapper();
      }

      &__profile-name {
        @include text-base(24px);
        color: $elinext-dark-color;
        margin-left: 0.6rem;
        font-weight: bold;

        @media #{$desktop} {
          font-size: 1.3rem;
        }
      }
    }
  }

  .profile-data {
    @include font-regular();
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    &__card {
      background-color: $white-color;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      min-height: 226px;
      margin-bottom: 40px;

      &__general {
        display: flex;
        padding: 20px;

        &__photo {
          margin-right: 40px;
          border: 1px solid $grey-color-3;
          border-radius: 8px;
          height: 184px;
          min-width: 184px;
        }

        &__edit {
          position: relative;
          &:hover{
            path {
              fill: $dark-hover-color;
            }
          }
        }

        &__info {
          width: 100%;
          &__name {
            @include text-base(20px);
            font-weight: bold;
          }

          &__direction {
            font-size: 16px;
            margin-bottom: 20px;
            color: $secondary-grey-color;
            display: flex;
            flex-direction: row;
          }

          &__item {
            @include text-base(14px);

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 8px;

            &:last-child {
              margin-bottom: 0;
            }

            &__name {
              margin-right: 12px;
              color: $secondary-grey-color;
            }

            &__value {
              font-weight: bold;
              display: flex;
              flex-direction: row;
              align-items: center;
              &__ico{
                margin-left: 8px;
                svg{
                  position: relative;
                  top: 2px;
                }
              }
            }
          }

        }
      }

      &__resume {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &__header {
          position: absolute;
          left: 20px;
          top: 20px;
          @include text-base(16px);
          font-weight: 600;
        }


        &__content {
          height: 82px;
          width: 260px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          &__header {
            color: $dark-hover-color;
            @include text-base(16px);
            font-weight: 600;
            display: flex;
            align-items: center;
          }

          &__file {

            &-info {
              display: flex;
              flex-direction: column;
            }

            &-icon {
              height: 40px;
              width: 40px;
              margin-right: 12px;
            }

            &-name {
              @include text-base(14px);
            }

            &-date {
              @include text-base(12px);
              font-weight: 400;
              color: $secondary-grey-color;
            }
          }

          &--resume {
            height: 100px;
          }

        }

        &__actions {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 12px;
        }
      }
    }
  }
}
