<div class="employee-data-wrapper" *ngIf="employeeData">
  <div class="employee-header">
    <div class="employee-header__title">
      <a (click)="returnLink()" *ngIf="showBackIcon">
        <svg-icon class="employee-header__title__back-arrow" src="assets/icons/arrow-left.svg"></svg-icon>
      </a>
      <div class="employee-header__title__profile-name">{{employeeData.lastName + ' ' + employeeData.firstName }}</div>
    </div>
    <div class="employee-header__action">
      <div class="employee-header__action_item">
        <button *ngIf="isShowArchiveAction && employeeData.isActive" pButton label="Archive" class="c-prime__button c-prime__button--grey"
                (click)="archiveEmployee()">
          <svg-icon src="assets/icons/folder-add.svg" class="c-prime__button-icon"></svg-icon>
        </button>
        <p-chip label="Archived" styleClass="c-prime__chip--redirected" *ngIf="!employeeData.isActive"></p-chip>
      </div>
    </div>
  </div>
  <div class="profile-data">
    <div class="profile-data__card profile-data__card__general">
      <p-skeleton class="profile-data__card__general__photo" height="100%" *ngIf="!avatarPath"></p-skeleton>
      <img [src]="avatarPath" alt="Image" class="profile-data__card__general__photo" *ngIf="avatarPath"/>
      <div class="profile-data__card__general__info">
        <div class="profile-data__card__general__info__name">
          {{employeeData?.lastName + ' ' + employeeData?.firstName}}
        </div>
        <div class="profile-data__card__general__info__direction">
          {{employeePosition ?? ''}} {{employeeData?.positionSphere?.name ?? '-'}}
          <div class="profile-data__card__general__info__item__value__ico" *ngIf="employeeData?.positionLevel?.description">
            <svg-icon src="assets/icons/info.svg" pTooltip="{{employeeData?.positionLevel?.description}}" tooltipPosition="bottom"></svg-icon>
          </div>
        </div>
        <div class="profile-data__card__general__info__item">
          <div class="profile-data__card__general__info__item__name">
            Email address:
          </div>
          <div class="profile-data__card__general__info__item__value">
            {{ employeeData?.userName ?? '-'  }}
          </div>
        </div>
        <div class="profile-data__card__general__info__item">
          <div class="profile-data__card__general__info__item__name">
            Skype:
          </div>
          <div class="profile-data__card__general__info__item__value">-</div>
        </div>
        <div class="profile-data__card__general__info__item">
          <div class="profile-data__card__general__info__item__name">
            Manager:
          </div>
          <div class="profile-data__card__general__info__item__value">
            {{employeeManager}}
          </div>
        </div>
        <div class="profile-data__card__general__info__item">
          <div class="profile-data__card__general__info__item__name">
            Office:
          </div>
          <div class="profile-data__card__general__info__item__value">-</div>
        </div>
      </div>
      <div class="profile-data__card__general__edit">
        <svg-icon src="assets/icons/edit.svg" pTooltip="Edit information about yourself" tooltipPosition="bottom" (click)="openModal()"></svg-icon>
      </div>
    </div>

    <div class="profile-data__card profile-data__card__resume">
      <div class="profile-data__card__resume__header">Resume</div>
      <ng-container *ngIf="!employeeCv;else resume">
        <div class="profile-data__card__resume__content profile-data__card__resume__content" *ngIf="addResume">
          <div class="profile-data__card__resume__content__header">Please, upload file with resume</div>
          <p-fileUpload (uploadHandler)="onFileUpload($event)" chooseLabel="Upload Resume" name="file" class="c-base__uploader" [showUploadButton]="false"
                        [auto]="true" [showCancelButton]="false" [customUpload]="true" [accept]="resumeFileFormats">
            <ng-template let-file pTemplate='file'>
            </ng-template>
          </p-fileUpload>
        </div>
        <div class="profile-data__card__resume__content profile-data__card__resume__content" *ngIf="!addResume">
          <div class="profile-data__card__resume__content__header">Employee's CV is available via link</div>
          <button routerLink="/cvEditor" pButton type="button" label="View CV" class="c-prime__button c-prime__button--danger-outline"></button>
        </div>
      </ng-container>
      <ng-template #resume>
        <ng-container>
          <div class="profile-data__card__resume__content profile-data__card__resume__content--resume">
            <div class="profile-data__card__resume__content__header">
              <div [ngSwitch]="documentFormat">
                <ng-container *ngSwitchCase="fileFormatEnum.DOC">
                  <svg-icon svgClass="profile-data__card__resume__content__file-icon" src="assets/icons/word-file.svg"></svg-icon>
                </ng-container>
                <ng-container *ngSwitchCase="fileFormatEnum.XLS">
                  <svg-icon svgClass="profile-data__card__resume__content__file-icon" src="assets/icons/excel-file.svg"></svg-icon>
                </ng-container>
                <ng-container *ngSwitchCase="fileFormatEnum.PDF">
                  <svg-icon svgClass="profile-data__card__resume__content__file-icon" src="assets/icons/pdf-file.svg"></svg-icon>
                </ng-container>
              </div>
              <div class="profile-data__card__resume__content__file-info">
                <div class="profile-data__card__resume__content__file-name">
                  {{ employeeCv?.name | FriendlyFileName }}
                </div>
                <div class="profile-data__card__resume__content__file-date">
                  Uploaded {{ employeeCv?.creationDate | date:'dd/MM/YYYY' }}
                </div>
              </div>
            </div>
            <div class="profile-data__card__resume__actions">
              <button *ngIf="employeeCv.type === 'file'" (click)="onFileDownload()" pButton type="file" label="Download" class="c-prime__button c-prime__button--grey">
                <svg-icon class="c-prime__button-icon" src="assets/icons/download.svg"></svg-icon>
              </button>
              <button *ngIf="employeeCv.type === 'cv'" (click)="slideMenu.toggle($event)" pButton label="Download" class="c-prime__button c-prime__button--grey">
                <svg-icon class="c-prime__button-icon" src="assets/icons/download.svg"></svg-icon>
              </button>
              <button routerLink="/cvEditor" pButton type="button" label="Update" class="c-prime__button c-prime__button--grey">
                <svg-icon class="c-prime__button-icon" src="assets/icons/sync.svg"></svg-icon>
              </button>
            </div>
            <p-slideMenu #slideMenu [model]="items" styleClass="c-prime__slide-menu" appendTo="body" [popup]="true"></p-slideMenu>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
