///* You can add global styles to this file, and also import other style files */
//html, body {
//  margin: 0;
//  padding: 0;
//
//  height: 100%;
//  font-family: Arial, Helvetica, sans-serif;
//}
//
///* CAN (MUST) BE REMOVED ! Sample Global style */
//.container {
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//
//  background: url(./assets/background.jpg) no-repeat center fixed;
//  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
//  background-size: cover; /* version standardisée */
//
//  .title {
//    color: white;
//    margin: 0;
//    padding: 50px 20px;
//  }
//
//  a {
//    color: #fff !important;
//    text-transform: uppercase;
//    text-decoration: none;
//    background: #ed3330;
//    padding: 20px;
//    border-radius: 5px;
//    display: inline-block;
//    border: none;
//    transition: all 0.4s ease 0s;
//
//    &:hover {
//      background: #fff;
//      color: #ed3330 !important;
//      letter-spacing: 1px;
//      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
//      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
//      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
//      transition: all 0.4s ease 0s;
//    }
//  }
//}
//

@import './assets/styles/variables.scss';
@import './assets/styles/notifications.scss';

@import './assets/styles/base.scss';

@import './assets/styles/prime-styles/dynamic-dialog.scss';
@import './assets/styles/prime-styles/input.scss';
@import './assets/styles/prime-styles/dialog.scss';
@import './assets/styles/prime-styles/button.scss';
@import './assets/styles/prime-styles/table.scss';
@import './assets/styles/prime-styles/overlay-panel.scss';
@import './assets/styles/prime-styles/dropdown.scss';
@import "./assets/styles/prime-styles/color-picker.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.modal-container__content {
  max-width: 600px !important;
}

.without-bottom-margin {
  margin-bottom: 0;
}

.without-top-margin {
  margin-top: 0;
}

.without-bottom-padding {
  padding-bottom: 0;
}

.without-top-padding {
  padding-top: 0;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.hover-moved-zone {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.p-editor-container .p-editor-toolbar {
  display: none;
}
