<div class="page-tabs">
  <p-tabView [activeIndex]="openTab">
    <p-tabPanel header="Редактор">
      <ng-template pTemplate="content">
        <app-editor></app-editor>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Записи БД">
      <ng-template pTemplate="content">
        <app-savior></app-savior>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel [disabled]="true" headerStyleClass="page-tabs__button-panel">
      <ng-template pTemplate="header">
        <p-toggleButton *ngIf="mandalaCreated" (onChange)="switchZoom()" pRipple
                        onLabel="{{ALL_WORDS.BUTTON.HEADER.switch_zoom.enable}}" offLabel="{{ALL_WORDS.BUTTON.HEADER.switch_zoom.disable}}" class="c-prime__button"
                        onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"
                        pTooltip="{{switcherZoomTooltipText}}" tooltipPosition="bottom"
                        [(ngModel)]="activeZoom"></p-toggleButton>
        <button type="button" pButton icon="pi pi-bars" label="{{ALL_WORDS.BUTTON.HEADER.menu.button_text}}" class="c-prime__button" (click)="menu.toggle($event)"></button>
        <p-slideMenu #menu [model]="menuItems" [popup]="true" [viewportHeight]="270" appendTo="body"></p-slideMenu>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
