@import './../../../../../assets/styles/mixins.scss';
@import './../../../../../assets/styles/variables.scss';

.page-tabs {
  height: 100%;
  position: relative;

  .p-tabview-nav-link {
    padding-bottom: 24px !important;
    box-sizing: border-box !important;
  }

  &__button {
    height: 34px !important;

    &-panel.p-disabled,
    &-panel.p-disabled *:not(.page-tabs__button_type_reminder) {
      pointer-events: auto !important;
      cursor: pointer !important;
      opacity: 1 !important;
      white-space: nowrap;
    }

    &-panel {
      width: 100% !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;

      .p-tabview-nav-link {
        padding: 5px !important;
        padding-bottom: 12px !important;
        border-bottom: 0 !important;
      }
    }
  }
}
