@import '../mixins.scss';
@import '../variables.scss';

.c-prime-input-mask {
  height: 34px;

  .p-inputtext {
    height: 34px;
    width: 100% !important;

    &.ng-dirty.ng-invalid {
      border-color: $error-color !important;
    }

    &.ng-touched.ng-valid {
      border-color: $success-color !important;
    }

    &[disabled] {
      background-color: $prime-grey-color;
      opacity: 50%;
    }

    &:not(.p-disabled) {
      &:hover {
        border-color: #798594 !important;
      }
    }

    &:focus {
      border-color: $focus-color !important;
      box-shadow: 0 0 1px 2px rgba(41, 116, 255, 0.15) !important;
    }

    &.ng-touched.ng-invalid {
      border-color: $error-color !important;
    }

    &.ng-touched.ng-valid {
      border-color: $success-color !important;
    }
  }
}
